Django==5.1.4
djangorestframework==3.15.2
django-environ==0.11.2
django-cors-headers==4.6.0
django-allauth[socialaccount]==65.3.0
dj-database-url==2.3.0
psycopg[binary]==3.2.3
celery==5.4.0
redis==5.2.1
django-celery-beat==2.7.0
django-celery-results==2.5.1
argon2-cffi==23.1.0
django-storages[azure]==1.14.4
azure-storage-blob==12.24.0
gunicorn==23.0.0
whitenoise==6.8.2
pillow==11.1.0
python-dotenv==1.0.1
ruff==0.8.4
pytest==8.3.4
pytest-django==4.9.0
